<div class="content clearfix">
    <section class="main">
        <div class="row">
            <div id="text-main" class="col-5 text-main">
                <h1>关于我</h1>
                <p class="intro">我是一名毕业于电子科技大学软件工程专业的前端工程师</p>
                <p>我喜欢把复杂的问题简单化，行走在追求极致的路上。当我不在写代码的时候，一般不是在睡觉就是在家里宅着看电影打游戏或者看体育视频。</p>
            </div>
            <div id="img-main" class="col-7 align-c">
                <img class="major preload" src="/img/normal.png" alt="adham dannaway ui designer">
            </div>
        </div>
        <div id="snaps" class="row align-c snaps clearfix baguetteBoxOne">

            <a id="snaps-1" href="/img/about/hanguo-3.jpg">
                <img class="preload" src="/img/about/hanguo-3.jpg" alt="life">
            </a>
            <a id="snaps-2" href="/img/about/others5.jpg">
                <img class="preload" src="/img/about/others5.jpg" alt="life">
            </a>
            <a id="snaps-3" href="/img/about/sh-1.jpg">
                <img class="preload" src="/img/about/sh-1.jpg" alt="life">
            </a>
            <a id="snaps-4" href="/img/about/sh-8.jpg">
                <img class="preload" src="/img/about/sh-8.jpg" alt="life">
            </a>
            <a id="snaps-5" href="/img/about/wuzhen-9.jpg">
                <img class="preload" src="/img/about/wuzhen-9.jpg" alt="life">
            </a>
            <a id="snaps-6" href="/img/about/wuzhen-11.jpg">
                <img class="preload" src="/img/about/wuzhen-11.jpg" alt="life">
            </a>

        </div>
    </section>
    <div id="content-detail">

            <section class="dark">
                <div class="row">
                    <div class="col-12 pie-chart">

                        <div class="virgo">
                            <h2>前端</h2>
                            <ul class="ul">
                                <li>HTML/CSS、JavaScript</li>
                                <li>jQuery、AngularJS</li>
                                <li>AMD/CMD</li>
                                <li>前端工程化</li>
                            </ul>
                        </div>

                        <div class="coder">
                            <h2>后端</h2>
                            <ul class="ul">
                                <li>Node.js</li>
                                <li>Java</li>
                                <li>PHP</li>
                                <li>Python</li>
                            </ul>
                        </div>

                        <img id="img-0" class="preload major" src="/img/pie-chart.png" alt="前端/后端">

                    </div>
                </div>
            </section>

            <section class="light nopad-b">
                <div class="row alt">
                    <div class="col-5 ten-things">
                        <h2>随意二三事</h2>
                        <ul class="ul">
                            <li>我喜欢看海贼王</li>
                            <li>我喜欢看NBA</li>
                            <li>我喜欢巴萨和切尔西</li>
                            <li>我经常打NBA 2K系列</li>
                            <li>我喜欢陈奕迅</li>
                            <li>我每天坐公交上班</li>
                            <li>我想开个有逼格的小店</li>
                        </ul>
                    </div>
                    <div id="img-1" class="col-7 align-c">
                        <img class="major" src="/img/joba.png" alt="joba">
                    </div>
                </div>
            </section>


            <section id="bar-chart" class="dark nopad-b">
                <div class="row">
                    <div class="col-12">

                        <h2 class="align-r">程序猿技能修炼</h2>
                        <ul class="bar-chart">
                            <li class="axis">
                                <div class="label">极客</div>
                                <div class="label">杀手</div>
                                <div class="label">老鸟</div>
                                <div class="label">菜鸟</div>
                            </li><li id="aqua" class="aqua p-95">
                                <div class="percent">90<span>%</span></div>
                                <div class="skill">HTML/CSS</div>
                            </li><li id="pink" class="pink  p-90">
                                <div class="percent">80<span>%</span></div>
                                <div class="skill">JavaScript</div>
                            </li><li id="yellow" class="yellow p-80">
                                <div class="percent">75<span>%</span></div>
                                <div class="skill">jQuery</div>
                            </li><li id="brown" class="brown p-75">
                                <div class="percent">65<span>%</span></div>
                                <div class="skill">AngularJS</div>
                            </li><li id="red" class="red p-40">
                                <div class="percent">40<span>%</span></div>
                                <div class="skill">Node.js</div>
                            </li></ul>

                    </div>
                </div>
            </section>


            <section class="light">
                <div class="row">
                    <div class="col-5">
                        <h2>好书推荐</h2>
                        <p>推荐几本个人认为值得一看的书籍吧：<br>
                            《JavaScript高级程序设计(第3版)》<br>
                            《JavaScript权威指南》<br>
                            《CSS权威指南》<br>
                            《精通CSS-高级Web标准解决方案(第2版)》<br>
                            《Node.js权威指南》...<br>
                            乔布斯说：“你必须要找到你所爱的东西”<br>
                            共勉。
                        </p>
                    </div>
                    <div id="img-2" class="col-7 align-c">
                        <img class="major" src="/img/books.jpg" alt="books">
                    </div>
                </div>
            </section>


        </div>
</div>