<div class="content blog clearfix blog-index" id="content-detail">
    <div class="row">
        <div class="col-8">
            <article>
                <h1><a href="#">{{ post.title }}</a></h1>
                <p class="author">
                    {{ post.name }} <span class="date">on {{ post.time.minute }}</span>
                </p>
                {{#if user}}
                <p>
                    <a class="button green right" href="/edit/{{ post.name }}/{{ post.time.day }}/{{ post.title }}">编辑</a>
                    <a class="button red right" href="/remove/{{ post.name }}/{{ post.time.day }}/{{ post.title }}">删除</a>
                </p>
                {{/if}}
                <img src="/img/articles/article.jpg" class="attachment-post-thumbnail wp-post-image" alt="designer-coder-collage">
                {{{ post.post }}}
            </article>
        </div>
    </div>
</div>