<div class="content clearfix">

        <section class="main">
            <div class="row">
                <div id="text-main" class="col-5 text-main">
                    <h1>联系我</h1>
                    <p class="intro">下面是我的一些联系方式，欢迎各种交流：</p>

                    <ul class="social-disc">
                        <li><a href="https://github.com/llp0574/Myblog" target="_blank" class="github">本站源码地址</a></li>
                        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=563179705&site=qq&menu=yes" target="_blank" class="qq">添加我为QQ好友</a></li>
                        <li><a href="http://weibo.com/1806141607" target="_blank" class="weibo">关注我的微博:llp有爱</a></li>
                    </ul>

                </div>
                <div id="img-main" class="col-7 align-c">
                    <img id="navi" class="major preload" src="/img/colorful.png" alt="adham dannaway navi character">
                <div class="undefined">&nbsp;</div>
            </div>

        </section>

</div>