<div id="content" class="content clearfix home">
    <section id="section" class="light nopad-t nopad-b">
        <div class="row">
            <div class="col-12">
                <div id="face" class="face">
                    <a href="/travel">
                        <div id="virgo" class="virgo">
                            <div id="virgo-desc" class="description">
                                <h1>处女座</h1>
                                <p>没有洁癖，并不敏感，轻度强迫症，可能受到火星引力的影响，奇迹般诞生了唯一对得起“处女座”的特点：细致。热爱不止于生存的生活，因为还有工作、爱情和运动。</p>
                            </div>
                        </div>
                    </a>
                    <a href="/about">
                        <div id="coder" class="coder">
                            <div id="coder-desc" class="description">
                                <h1>&lt;程序员&gt;</h1>
                                <p>颈椎病和啤酒肚的高危人群，擅长写页面，热爱HTML/CSS、JavaScript，熟悉jQuery，AngularJS，时不时搞一下Node.js，对技术的热爱程度堪称程序猿中的战斗猿，目标是成为一名全栈工程师。</p>
                            </div>
                        </div>
                    </a>
                    <img id="face-img" class="face-img" src="/img/normal_small.png" alt="李林璞 前端工程师">
                    <div id="virgo-img" class="virgo-img"></div>
                    <div id="coder-img" class="coder-img"></div>
                    <div id="virgo-bg" class="virgo-bg"></div>
                    <div id="coder-bg" class="coder-bg"></div>
                </div>
            </div>
        </div>
    </section>
</div>

<div>
    <section class="dark">
        <div class="row">
            <div class="col-12">
                <div id="content-detail">
                    <div class="header-center">
                        <h3>最近的一些项目</h3>
                    </div>
                    <ul id="thumbs" class="thumbs clearfix">
                        <li>
                            <a href="http://www.pinbot.me" target="_blank">
                                <img src="/img/pinbot.png" class="attachment-post-thumbnail wp-post-image" alt="pinbot">
                                <div class="description">
                                    <span class="arrow-r"></span>
                                    <h4>聘宝beta</h4>
                                    <p>web前端</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="http://qz.pinbot.me/" target="_blank">
                                <img src="/img/qz.png" class="attachment-post-thumbnail wp-post-image" alt="qz">
                                <div class="description">
                                    <span class="arrow-r"></span>
                                    <h4>聘宝求职版</h4>
                                    <p>web前端</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.run-mall.com/" target="_blank">
                                <img src="/img/runmall.png" class="attachment-post-thumbnail wp-post-image" alt="runmall">
                                <div class="description">
                                    <span class="arrow-r"></span>
                                    <h4>营贸直销商城</h4>
                                    <p>web前端</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>