<!DOCTYPE html>

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta property="og:title" content="Li Linpu | Front End Developer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- For all browsers -->
    <link rel="stylesheet" type="text/css" href="/css/common.css?20150712">

    <!-- JavaScript -->
    <script src="/js/modernizr-2.5.3-min.js?20150712"></script>

    <!-- For everything else -->
    <link rel="shortcut icon" href="/img/favicon.ico">

    <meta http-equiv="cleartype" content="on">

    <script type="text/javascript">

      // Eliminate FOUC
      document.documentElement.className = 'js';

    </script>

    <script type='text/javascript' src='/js/jquery-1.6/jquery.min.js?ver=4.0.5'></script>
</head>
<body class="clearfix" page_type="{{ page }}">
    <header id="header">
        <div class="row">
            <div class="col-12">
                <a id="logo" class="logo" href="/">Li Linpu</a>
                <ul class="social">
                    <li class="github"><a href="https://github.com/llp0574" title="Follow me on Github" target="_blank">github</a></li>
                    <li class="qq"><a href="http://wpa.qq.com/msgrd?v=3&uin=563179705&site=qq&menu=yes" title="Connect with me on qq" target="_blank">qq</a></li>
                    <li class="weibo"><a href="http://weibo.com/1806141607" title="Connect with me on weibo" target="_blank">weibo</a></li>
                </ul>
                <nav>
                    <ul id="nav" active="{{ active }}">
                        <li><a id="about" href="/about">关于我</a></li>
                        <li><a id="travel" href="/travel">旅游相册</a></li>
                        <li><a id="article_category" href="/article_category">技术与生活</a></li>
                        <li><a id="contact" href="/contact">联系我</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {{{ body }}}

    <footer id="footer">
        <div class="row">
            <div class="col-12">
                <div class="left">
                    <a class="transition" href="/">© 2015 Li Linpu</a>
                    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255756507'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1255756507%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
                </div>
                <nav id="nav-footer">
                    <ul>
                        <li><a id="about" href="/about">关于我</a></li>
                        <li><a id="travel" href="/travel">旅游相册</a></li>
                        <li><a id="article_category" href="/article_category">技术与生活</a></li>
                        <li><a id="contact" href="/contact">联系我</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="gradient-white">
            <a class="top" href="#top">back to top</a>
        </div>
    </footer>
</body>
<script src="/js/jquery-1.7.2/jquery.min.js?20150712"></script>
    <script>window.jQuery || document.write('/js/jquery-1.7.2/jquery.min.js?20150712"><\/script>')</script>
    <script type='text/javascript' src='/js/plugin.js?20150712'></script>
    <script type='text/javascript' src='/js/tool.js?20150712'></script>
    <script type="text/javascript">
    <!--

    //If browser is IE8 or older we show IE specific page
    if(ie < 9){
        ieMessage();
    }

    /*
    * Call functions when dom is ready
    */
    $(document).ready(function() {

        // Hide browser top bar in mobiles
        $('body').scrollTop(1);

        // Animate the header on first
        $('#header').stop().animate({'opacity': '1', 'top':'0'}, 1000);

        //Function for thumbnail hover effect
        $('.thumbs li').hoverThumb();

        // Function to scroll to top
        $('a[href=#top]').click(function(){
            $('html, body').animate({scrollTop:0}, 1000, 'easeInOutQuad');
            return false;
        });

        // Preload the page with jPreLoader
        $('body').jpreLoader({

            showSplash: true

        }, function() {

            //Show the page once images are loaded

            switch(page){
                case 'index':
                    $('#face').animateHome();
                    $('#face').resizeFace();
                    break;
                case 'about':
                    animateMain();
                    animateAbout();
                    break;
                case 'error':
                    animatePage();
                    break;
                case 'travel':
                    animateContent();
                    break;
                case 'article_category':
                    animateContent();
                    break;
                case 'contact':
                    $.when(animatePage()).then(animateContact());
                    break;
                default:
                    animateContent();
                    break;
            }

        });

        // Function to animate when leaving page
        $('.transition, #nav a, #nav-footer a, #thumbs a, #next a, #prev a, #logo, #face a').leavePage();

        // Toggle Navigation for mobile devices
        // $('.icon-nav').on('click', function(){
        //     $('header nav').slideToggle();
        //     $(this).toggleClass('active');
        // });

        // // Function to fade in image sprites
        // $('.sprite').fadeSprite();

        //点亮选项卡
        var active = $('#nav').attr('active'),
            $nav_item = $('#' + active);
        $nav_item.addClass('active');

        // lightbox
        baguetteBox.run('.baguetteBoxOne', {
            animation: 'fadeIn',
        });
    });
    -->
    </script>
</html>