<div class="content clearfix travel">
    <section>
        <div class="row">
            <div class="col-12">
                <div id="content-detail" class="baguetteBoxOne">
                    <a href="/img/1-1.jpg">
                        <img class="preload" src="/img/desk.png" alt="travel">
                    </a>
                    <a href="/img/1-1.jpg">
                        <img class="preload" src="/img/desk.png" alt="travel">
                    </a>
                    <a href="/img/1-1.jpg">
                        <img class="preload" src="/img/desk.png" alt="travel">
                    </a>
                    <a href="/img/sh-2.jpg">
                        <img class="preload" src="/img/sh-2.jpg" alt="travel">
                    </a>
                    <a href="/img/sh-4.jpg">
                        <img class="preload" src="/img/sh-4.jpg" alt="travel">
                    </a>
                    <a href="/img/sh-11.jpg">
                        <img class="preload" src="/img/sh-11.jpg" alt="travel">
                    </a>
                    <a href="/img/wuzhen-1.jpg">
                        <img class="preload" src="/img/wuzhen-1.jpg" alt="travel">
                    </a>
                    <a href="/img/wuzhen-6jpg">
                        <img class="preload" src="/img/wuzhen-6.jpg" alt="travel">
                    </a>
                    <a href="/img/wuzhen-5.jpg">
                        <img class="preload" src="/img/wuzhen-5.jpg" alt="travel">
                    </a>
                    <a href="/img/hz-1.jpg">
                        <img class="preload" src="/img/hz-1.jpg" alt="travel">
                    </a>
                    <a href="/img/hz-4.jpg">
                        <img class="preload" src="/img/hz-4.jpg" alt="travel">
                    </a>
                    <a href="/img/hz-10.jpg">
                        <img class="preload" src="/img/hz-10.jpg" alt="travel">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>