<div id="content" class="content clearfix home">
    <section id="section" class="light nopad-t nopad-b">
        <div class="row">
            <div class="col-12">
                <div id="face" class="face">
                    <a href="#">
                        <div id="virgo" class="virgo">
                            <div id="virgo-desc" class="description">
                                <h1>处女座</h1>
                                <p>UI/UX Designer with a passion for designing beautiful and functional user experiences. Minimalist who believes that less is more.</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div id="coder" class="coder">
                            <div id="coder-desc" class="description">
                                <h1>&lt;程序员&gt;</h1>
                                <p>Front End Developer who focuses on writing clean, elegant and efficient code. Love HTML, CSS, WordPress and a touch of jQuery.</p>
                            </div>
                        </div>
                    </a>
                    <div id="virgo-img" class="virgo-img"></div>
                    <div id="coder-img" class="coder-img"></div>
                    <div id="virgo-bg" class="virgo-bg"></div>
                    <div id="coder-bg" class="coder-bg"></div>
                </div>
            </div>
        </div>
    </section>
</div>

<div>
    <section class="dark">
        <div class="row">
            <div class="col-12">
                <div id="content-detail">
                    <div class="header-center">
                        <h3>最近的一些项目</h3>
                    </div>
                    <ul id="thumbs" class="thumbs clearfix">
                        <li>
                            <a href="http://www.run-mall.com/" target="_blank">
                                <img src="/img/runmall.png" class="attachment-post-thumbnail wp-post-image" alt="runmall">
                                <div class="description">
                                    <span class="arrow-r"></span>
                                    <h4>营贸直销商城</h4>
                                    <p>web前端</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="http://qz.pinbot.me/" target="_blank">
                                <img src="/img/qz.png" class="attachment-post-thumbnail wp-post-image" alt="qz">
                                <div class="description">
                                    <span class="arrow-r"></span>
                                    <h4>聘宝求职版</h4>
                                    <p>web前端</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.pinbot.me" target="_blank">
                                <img src="/img/pinbot.png" class="attachment-post-thumbnail wp-post-image" alt="pinbot">
                                <div class="description">
                                    <span class="arrow-r"></span>
                                    <h4>聘宝，专业人才推荐</h4>
                                    <p>web前端</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>